<section>
  <h1>Signup</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username: </label>
      <input id="username" type="text" formControlName="username">
    </div>

    <div>
      <label for="email">Email: </label>
      <input id="email" type="text" formControlName="email">
    </div>

    <div>
      <label for="password">Password: </label>
      <input id="password" type="text" formControlName="password">
    </div>

    <button type="submit">Submit</button>
  </form>

  <div *ngIf="errorMessage">
    <p>{{errorMessage}}</p>
  </div>
</section>
