<div class="relative flex flex-col space-y-10 mx-20 my-10">
  <div>
    <p class="text-xl font-work-sans leading-relaxed mt-6 mb-4 text-gray-800">
      United by a love for reading, Bakkcover brings Contributors and Adopters
      together to find a new home for unwanted novels
    </p>
  </div>

  <div class="relative flex flex-col space-y-5">
    <div>
      <h3 class="font-work-sans leading-tight text-3xl mt-0 mb-2 text-blue-600">Contributors</h3>
      <p class="text-base font-work-sans leading-relaxed mt-0 mb-4 text-gray-800">
        Simply list any title along with a corresponding photo,
        and it'll automatically be added to our library, along
        with a synopsis of the book. When someone is ready
        to adopt your book, they will be in touch with you!
      </p>
    </div>

    <div>
      <h3 class="font-work-sans leading-tight text-3xl mt-0 mb-2 text-blue-600">Adopters</h3>
      <p class="text-base font-work-sans leading-relaxed mt-0 mb-4 text-gray-800">
        See a book you like? Simply add it to your cart and
        check out - we'll send you the contact information
        for that contributor, so you can arrange for pick up at
        your convenience!
      </p>
    </div>
  </div>
</div>
